.nav{
    margin-top: 24px;
    text-align:  center;
    height: 27px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    word-spacing: 60px;
    letter-spacing: 2.7px;
}
.nav-link{
    color: #F00;
    text-decoration: none;
}
.main{
    margin-top: 24px; 
}
.title{
    text-align: center;
    color: #373737;
    font-family: Montserrat;
    font-size: 22px;
    letter-spacing: 3.3px;
    margin-top: 48px;
}
.container{
        color: #373737;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 2.4px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    margin-top: 28px;
    line-height: 26px;
}
.button{
    border-radius: 4px;
    background-color: #F00;
    margin-top: 160px;
    color: #fff;
    border: none;
    padding: 10px 25px;
} 
.avtor{
    margin-top: 82px;
    color: #373737;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 2.4px;
    text-align: right;
}